<!-- Call To Action -->
<section id="cta">

    <header>
        <h2>Ready to do <strong>contribute</strong>?</h2>
        <p>Come by the forums or GitHub to ask questions and help out.</p>
    </header>
    <footer>
        <ul class="buttons">
            <li><a href="https://groups.google.com/forum/#!forum/smallrye" target="_blank" class="button primary">Forums</a></li>
            <li><a href="https://github.com/smallrye" target="_blank" class="button">GitHub</a></li>
        </ul>
    </footer>

</section>