<!-- Header -->
<header id="header" class="{% if page.headerclass %}{{page.headerclass}}{% endif %}">
    <h1 id="logo"><a href="{{ "/index.html" | prepend: site.baseurl }}">{{ site.title | escape }}</a></h1>
    <nav id="nav">
        <ul>
            <li class="{% if page.headerclass %}current{% endif %}"><a href="{{ "/index.html" | prepend: site.baseurl }}">Welcome</a></li>
            <li class="{% if page.url contains 'blog' %}current{% endif %}"><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li>
            <li class="submenu {% if page.url contains 'projects' %}current{% endif %}">
                <a href="#">Projects</a>
                <ul>
                    <li><a href="{{ "/projects/overview" | prepend: site.baseurl }}">Overview</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#">Community</a>
                <ul>
                    <li><a href="https://groups.google.com/forum/#!forum/smallrye" target="_blank">Forums</a></li>
                    <li><a href="https://github.com/smallrye" target="_blank">GitHub</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>