<div class="grid-wrapper homepage-hero-band">
    <div class="grid__item width-12-12">
        <div class="home-hero">
            <img src="{{site.baseurl}}/assets/images/smallrye_project_logo.svg" class="project-logo" title="SmallRye">
            <h2>Helping Java Developers deliver for tomorrow</h2>
            <p>APIs and implementations tailored for Cloud development,
                <br/>including <a href="http://microprofile.io/" target="_blank">Eclipse MicroProfile</a></p>
            <a href="#" class="scroll-down" address="true"></a>
        </div>
    </div>
</div>
