<div class="full-width-bg component homepage-highlights-band">
    <div class="width-12-12 highlights-alternating-inline-block">

        <div class="grid-wrapper">
            <div class="width-4-12 width-12-12-m block-content">
                <h2>Cloud Native development</h2>
                <p>SmallRye improves the developer experience for
                    Cloud Native development through innovation in the critical functionality
                    required for Cloud environments.</p>
            </div>
            <div class="width-4-12 width-12-12-m block-content">
                <h2>Community implementations</h2>
                <p>SmallRye develops implementations of Eclipse MicroProfile APIs
                    that are usable by any vendor or project.
                    Come join the community to contribute to Cloud Native innovation!</p>
            </div>
            <div class="width-4-12 width-12-12-m block-content">
                <h2>Containers are great!</h2>
                <p>With containers being the new operating system,
                    it's important that developers are able to build applications
                    that can easily be deployed to container environments.</p>
            </div>
        </div>
    </div>

    <div class="grid-wrapper">
        <div class="grid__item width-8-12 width-12-12-m">
            <h2>SmallRye Usage</h2>
            <p>SmallRye is included with the following projects, go check them out to use SmallRye in your applications!</p>
        </div>
    </div>
    <div class="grid-wrapper used-by-band">
        <div class="grid__item width-2-12 width-4-12-m block">
            <a href="https://quarkus.io/" target="_blank">
                <img src="{{site.baseurl}}/assets/images/logoset_quarkus.png">
                <span>Quarkus</span>
            </a>
        </div>
        <div class="grid__item width-2-12 width-4-12-m block">
            <a href="http://thorntail.io" target="_blank">
                <img src="{{site.baseurl}}/assets/images/logoset_thorntail.png">
                <span>Thorntail</span>
            </a>
        </div>
        <div class="grid__item width-2-12 width-4-12-m block">
            <a href="https://wildfly.org" target="_blank">
                <img src="{{site.baseurl}}/assets/images/logoset_wildfly.png">
                <span>WildFly</span>
            </a>
        </div>
        <div class="grid__item width-2-12 width-4-12-m block">
            <a href="https://openliberty.io/" target="_blank">
                <img src="{{site.baseurl}}/assets/images/logoset_openliberty.png">
                <span>Open Liberty</span>
            </a>
        </div>
    </div>
</div>