<div class="full-width-bg component homepage-highlights-band">
    <div class="width-12-12 highlights-alternating-inline-block">

        <div class="grid-wrapper">
            <div class="width-4-12 width-12-12-m block-content">
                <h2>Cloud Native development</h2>
                <p>SmallRye improves the developer experience for
                    Cloud Native development through implementing
                    Eclipse MicroProfile. Offering important functionality
                    for Cloud environments.</p>
            </div>
            <div class="width-4-12 width-12-12-m block-content">
                <h2>Community implementations</h2>
                <p>SmallRye develops implementations of Eclipse MicroProfile
                    that are usable by any vendor or project.
                    Come join the community to contribute to shared implementations
                    of the specifications.</p>
            </div>
            <div class="width-4-12 width-12-12-m block-content">
                <h2>Containers are great!</h2>
                <p>With containers being the new operating system,
                    it's important that developers are able to build applications
                    that can easily be deployed to container environments.</p>
            </div>
        </div>
    </div>
</div>