site:
  title: SmallRye documentation
  start_page: index::index.adoc
content:
  sources:
  - url: .. # common module containing just the main index
    start_path: docs
    branches: HEAD
  - url: https://github.com/smallrye/smallrye-config.git
    branches: master
    start_path: doc
  - url: https://github.com/smallrye/smallrye-jwt.git
    branches: master
    start_path: doc
  - url: https://github.com/smallrye/smallrye-metrics.git
    branches: 2.4.x
    start_path: doc
  - url: https://github.com/smallrye/smallrye-fault-tolerance.git
    branches: ~
    tags:
    - '5*'
    - '!*-RC*'
    start_path: doc
# uncomment after the docs are merged    
#  - url: https://github.com/smallrye/smallrye-reactive-messaging.git
#    branches: master
#    start_path: doc
ui:
  bundle:
    url: https://github.com/smallrye/smallrye-antora-ui/blob/master/build/ui-bundle.zip?raw=true
    snapshot: true
